<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carbon.mapper.PolicyMapper">

    <select id="selectPolicyList" resultType="com.carbon.entity.Policy">
        SELECT * FROM policy
        <where>
            <if test="keyword != null and keyword != ''">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY publish_time DESC
    </select>

    <insert id="insertPolicy" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO policy(title, source, publish_time, keyword, type, url, content)
        VALUES(#{title}, #{source}, #{publishTime}, #{keyword}, #{type}, #{url}, #{content})
    </insert>

    <select id="selectById" resultType="com.carbon.entity.Policy">
        SELECT * FROM policy WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.carbon.entity.Policy">
        SELECT * FROM policy ORDER BY publish_time DESC
    </select>

    <select id="selectPolicyPage" resultType="com.carbon.entity.Policy">
        SELECT * FROM policy
        ORDER BY publish_time DESC
    </select>

    <select id="selectByTitle" resultType="com.carbon.entity.Policy">
    SELECT * FROM policy WHERE title = #{title}
</select>

</mapper>